@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 300;
  src: local("Avenir Next"), local("Avenir Next"), url(/fonts/avenirnext-thin.woff) format("woff"); }
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 500;
  src: local("Avenir Next"), local("Avenir Next"), url(/fonts/avenirnext-regular.woff) format("woff"); }
@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 700;
  src: local("Avenir Next Bold"), local("Avenir Next Bold"), url(/fonts/avenirnext-bold.woff) format("woff"); }
html {
  height: 100%; }

body {
  font-family: AvenirNext, sans serif;
  font-size: 16px;
  color: #081522;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  min-height: 100%;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  a:hover {
    color: #3498db; }

.highlight, code {
  background: whitesmoke;
  border-radius: 0; }

code {
  padding: 3px 5px 1px; }

p code {
  font-size: 0.8em; }

#homepage {
  padding: 100px 0px 0px 0px;
  text-align: center;
  color: #2c3e50;
  font-family: 'AvenirNext', sans serif;
  font-weight: 500; }
  #homepage .main {
    margin-bottom: 25px; }
    #homepage .main #logo {
      width: 150px;
      height: 150px;
      position: relative;
      margin: auto;
      margin-bottom: 30px; }
    #homepage .main #logo:before, #homepage .main #logo:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 1; }
    #homepage .main #logo:before {
      background: white url("/images/homelogo.png");
      z-index: 1;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    #homepage .main #logo:after {
      background: url("/images/dp.png");
      border-radius: 50%; }
    #homepage .main #logo:hover:before {
      opacity: 0; }
    #homepage .main h1, #homepage .main h3 {
      margin: 0px; }
    #homepage .main h1 {
      font-weight: 300;
      font-size: 2.5em; }
    #homepage .main h3 {
      font-weight: 500;
      font-size: 0.9em; }
  #homepage .meta div {
    margin-bottom: 10px; }
  #homepage .meta .row a {
    padding: 0 10px; }

.ig {
  position: absolute;
  bottom: 0; }

@media screen and (max-width: 500px) {
  #homepage {
    padding: 10px 20px 20px 20px; } }
@media screen and (max-width: 767px) {
  .content {
    padding: 0px 20px; } }
.blog .pure-g-r .content {
  font-family: AvenirNext, sans serif;
  font-weight: 500;
  margin: 20px auto 20px;
  display: block;
  position: relative; }
  .blog .pure-g-r .content .archives .meta h3 {
    font-weight: 500;
    font-size: 1em; }
  .blog .pure-g-r .content .archives .title h1 {
    font-weight: 500;
    font-size: 1.3em; }
  .blog .pure-g-r .content .post a {
    border-bottom: 1px solid #ccc; }
  .blog .pure-g-r .content .post h1 a, .blog .pure-g-r .content .post h2 a, .blog .pure-g-r .content .post h3 a, .blog .pure-g-r .content .post h4 a, .blog .pure-g-r .content .post h5 a, .blog .pure-g-r .content .post h6 a {
    border-bottom: none; }
  .blog .pure-g-r .content .post p {
    line-height: 1.4em; }
  .blog .pure-g-r .content .post ul li, .blog .pure-g-r .content .post ol li {
    padding: 3px 0; }
  .blog .pure-g-r .content .post .title {
    margin-bottom: 5px; }
  .blog .pure-g-r .content .post .byline {
    font-style: italic;
    font-size: 0.8em; }
  .blog .pure-g-r .content .post .twitter {
    margin-top: 50px; }
  .blog .pure-g-r .content .post .meta {
    margin-top: 25px;
    border-top: 1px solid #ccc; }
    .blog .pure-g-r .content .post .meta .copy {
      font-size: 0.9em; }
      .blog .pure-g-r .content .post .meta .copy p {
        margin-top: 0px; }
  .blog .pure-g-r .content .post blockquote {
    border-left: 5px solid #c0392b;
    margin-left: 0px;
    padding-left: 20px; }
  .blog .pure-g-r .content .post #disqus_thread {
    padding-top: 25px;
    border-top: 1px solid #eee; }

.projects {
  font-size: 12px;
  position: relative; }
  .projects .header h1 {
    margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .projects .header h1 {
      text-align: center; } }
  .projects .pure-g .container {
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px; }
    .projects .pure-g .container .project {
      margin: 0px 20px 0px 0px;
      max-width: 400px;
      border: 1px solid #eee; }
      .projects .pure-g .container .project .logo {
        text-align: center;
        height: 140px;
        background: #EEE;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box; }
        .projects .pure-g .container .project .logo img {
          max-width: 100%;
          height: 100%; }
      .projects .pure-g .container .project .details {
        padding: 10px;
        min-height: 160px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box; }
    .projects .pure-g .container .logo.addPadding {
      padding: 10px; }
    .projects .pure-g .container .hackview .logo {
      background: #F4F3EF; }
    .projects .pure-g .container .greyshade .logo {
      text-align: left;
      background: #F5F5F5; }
    .projects .pure-g .container .nano .logo {
      background: #2C3E50; }
    @media screen and (max-width: 767px) {
      .projects .pure-g .container .project {
        margin: 10px auto;
        max-width: 270px; } }
  .projects h1, .projects h2, .projects h3, .projects h4, .projects h5, .projects h6 {
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px; }
  .projects ul {
    padding-left: 15px;
    line-height: 16px; }
  .projects a {
    border-bottom: 1px dashed #333; }

.navigation {
  position: fixed;
  top: 50px;
  margin-left: -150px; }
  .navigation .holder {
    width: 50px;
    height: 50px;
    background: #2c3e50;
    color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 15px 12px;
    font-size: 18px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .navigation .holder .nav {
      display: none;
      padding-top: 5px; }
      .navigation .holder .nav a {
        font-size: 0.8em;
        border: none; }
    .navigation .holder:hover {
      height: 140px;
      width: 100px;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      .navigation .holder:hover .nav {
        display: block; }

@media screen and (max-width: 767px) {
  .navigation {
    position: absolute;
    right: 20px;
    top: -10px;
    left: initial; }

  .projects .navigation {
    top: 10px; } }
