---
title: Projects
---

{% include head.html %}

<body class="projects">
	
	<div class="pure-g">	

		<section class="pure-u-2-3 container">
			{% include nav.html %}

			<section class="header">
				<h1>Stuff that I have made</h1>
			</section>
			
			<div class="pure-g-r">
				<section class="pure-u-1-3">
					<div class="project studyportal">
						<div class="logo addPadding">
							<img src="/images/projects/splogo.png" alt="">
						</div>
						<div class="details">
							<h2>Study Portal</h2>
							<h3>IIT Roorkee's knowledge hub</h3>
							<ul>
								<li>
									PHP, JS, AJAX, HTML, CSS
								</li>
								<li>
									MVC architecture
								</li>
								<li>
									Libs: <a href="http://toroweb.com" target="_blank">Toro</a>,  jQuery
								</li>
								<li>
									More Details: <a href="/archive/2013/studyportal.html">Blog Post</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="pure-u-1-3">
					<div class="project greyshade">
						<div class="logo">
							<img src="/images/projects/greyshade.png" alt="">
						</div>
						<div class="details">
							<h2>Greyshade</h2>
							<h3>An Octopress Theme</h3>
							<ul>
								<li>
									Responsive design
								</li>
								<li>
									Written in SASS
								</li>
								<li>
									<a href="http://schema.org">Schema.org</a> compatible
								</li>
								<li>
									<a href="http://github.com/shashankmehta/greyshade">GitHub Repo</a> - 350&#9733;, 100 forks
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="pure-u-1-3">
					<div class="project slick">
						<div class="logo addPadding">
							<img src="/images/projects/slick.png" alt="">
						</div>
						<div class="details">
							<h2>Slick.js</h2>
							<h3>JS Library for Embedding Presentations</h3>
							<ul>
								<li>
									Presentation specific features
								</li>
								<li>
									Programmatic access exposed
								</li>
								<li>
									Supports themeing
								</li>
								<li>
									<a href="http://shashankmehta.in/slick.js">Page</a> &amp; <a href="http://github.com/shashankmehta/slick.js">GitHub Repo</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>			

			<div class="pure-g-r" style="margin-top: 30px;">
				<section class="pure-u-1-3">
					<div class="project leaflist">
						<div class="logo addPadding">
							<img src="/images/projects/leaflist.png" alt="">
						</div>
						<div class="details">
							<h2>Leaf List</h2>
							<h3>Disposable, anonymous lists</h3>
							<ul>
								<li>
									Built using Backbone
								</li>
								<li>
									Uses Firebase for storage
								</li>
								<li>
									No server needed. Hosted on GitHub pages
								</li>
								<li>
									Link to <a href="http://shashankmehta.in/leaflist/#leaflst">app</a> &amp; and <a href="http://github.com/shashankmehta/leaflist">GitHub Repo</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="hackview pure-u-1-3">
					<div class="project">
						<div class="logo">
							<img src="/images/projects/hackview.jpg" alt="">
						</div>
						<div class="details">
							<h2>Hackview</h2>
							<h3>WebRTC based collaboration tool</h3>
							<ul>
								<li>
									1st position in HackU!, a hackathon conducted in IIT Delhi by Yahoo India
								</li>
								<li>
									Built using Node.JS and Express
								</li>
								<li>
									Video Conferencing using WebRTC
								</li>
								<li>
									Document Editor and Text Chat
								</li>
								<li>
									More details: <a href="http://github.com/shashankmehta/hackview">GitHub Repo</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="pure-u-1-3">
					<div class="project rekishi">
						<div class="logo addPadding">
							<img src="/images/projects/rekishi.png" alt="">
						</div>
						<div class="details">
							<h2>Rekishi</h2>
							<h3>Social Time Machine</h3>
							<ul>
								<li>
									3rd position in Syntax Error, a hackathon sponsored by Google and GitHub
								</li>
								<li>
									Shows your posts on Facebook, Twitter, Google+ and GitHub from a year ago.
								</li>
								<li>
									More details: <a href="http://github.com/shashankmehta/rekishi">GitHub Repo</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>			
			<div class="pure-g-r" style="margin-top: 30px;">
				<section class="pure-u-1-3">
					<div class="project cogni">
						<div class="logo addPadding">
							<img src="/images/projects/cogni.png" alt="">
						</div>
						<div class="details">
							<h2>Cognizance 2013</h2>
							<h3>IIT Roorkee's Annual Technical Festival</h3>
							<ul>
								<li>
									PHP, JS, AJAX, HTML, CSS
								</li>
								<li>
									MVC architecture
								</li>
								<li>
									Libs: <a href="http://toroweb.com" target="_blank">Toro</a>, <a href="http://prinzhorn.github.io/skrollr">Skrollr.js</a>, jQuery
								</li>
								<li>
									<a href="http://cognizance.org.in">Link</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="pure-u-1-3">
					<div class="project">
						<div class="logo">
							<img src="/images/projects/play.png" alt="">
						</div>
						<div class="details">
							<h2>Play</h2>
							<h3>Music Player for developers in a room</h3>
							<ul>
								<li>
									Allows people to queue and play songs on central speakers from their own systems
								</li>
								<li>
									Built using Node.JS
								</li>
								<li>
									More details: <a href="https://github.com/shashankmehta/play">GitHub Repo</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>			
		</section>
	</div>
</body>