<div class="layout25-profile">
  <img src="/images/dp.jpeg" alt="{{ site.author.name }}" class="layout25-avatar">
  <div class="layout25-profile-content">
    <h1 class="layout25-name">{{ site.author.name }}</h1>
    <nav class="layout25-nav">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
      <a href="{{ site.author.x}}">X/Twitter</a>
      <a href="{{ site.author.linkedin}}">LinkedIn</a>
    </nav>
  </div>
</div>
