<header class="grid">
  <figure class="profile-image">
    <img src="/images/dp.jpeg" alt="{{ site.author.name }}">
  </figure>
  <div>
    <h1>
      {{ site.author.name }}
      {% include "theme-toggle.liquid" %}
    </h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="{{ site.author.x}}">X/Twitter</a></li>
        <li><a href="{{ site.author.linkedin}}">LinkedIn</a></li>
      </ul>
    </nav>
  </div>
  
</header>
<hr />
