/* Copied from site-overrides.scss, now renamed to underscore partial */
/* 
 * Site-specific overrides for PicoCSS
 * Custom styles and modifications go here
 */ 

/* Set custom primary color (overriding Pico's red theme) */
:root {
  --pico-font-family: "Lato", sans-serif;
}

/* Theme-specific style overrides */
[data-theme="light"] {

}

[data-theme="dark"] {

}

/* Layout adjustments */
body > .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  
  @media (max-width: 600px) {
    padding: 1.5rem 1rem;
  }
}

/**
 * HTML Element overrides
 */
a {
  text-decoration: none;
}

/**
 * Horizontal Rule
 */
hr {
  border-top: 1px solid var(--pico-primary-border);
}

blockquote {
  border-left: 2px solid var(--pico-primary);

  p:last-child {
    margin-bottom: 0;
  }
}


header {
  margin-bottom: 20px;
}

/** 
 * Navigation customisation
 */
header.grid {
  grid-template-columns: 140px 1fr 24px;
  align-items: center;

  .profile-image {
    text-align: center;
    
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      // object-fit: cover;
    }
  }

  nav ul {
    display: flex;
    gap: var(--pico-spacing);
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
    }

    @media (max-width: 600px) {
      gap: calc(var(--pico-spacing) * 0.75);
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

/**
 * Posts list customisation
 */

.posts-list {
  padding: var(--pico-block-spacing-vertical) 0;
}

.post-item {
  grid-template-columns: 90px 1fr;
  margin-bottom: var(--pico-block-spacing-vertical);
  --grid-spacing-horizontal: var(--pico-spacing);

  @media (max-width: 400px) {
    --grid-spacing-horizontal: calc(var(--pico-spacing) * 0.5);
    grid-template-columns: 1fr;
    text-align: left;
  }

  time {
    font-variant-numeric: tabular-nums;
    color: var(--pico-muted-color);
    font-family: "Sometype Mono", monospace;

    .bold {
      font-weight: 500;
    }
  }

  .more-posts {
    display: inline-block;
  }
}

/**
 * Post styles
 */
article {
  header {
    time {
      display: block;
      margin-top: 0.5rem;
    }
  }

  header.alert {
    padding: var(--pico-typography-spacing-vertical);

    &.alert-warning {
      box-shadow: var(--pico-box-shadow);
      border: 1px solid var(--pico-primary);
    }
  }

  nav {
    margin: var(--pico-block-spacing-vertical) 0;
  }

  time {
    color: var(--pico-muted-color);
  }

  footer {
    margin-top: 1rem;
    padding-top: 1.5rem;
  }
}

/* Draft badge */
.badge {
  padding: 0.25rem;
  border: 1px solid var(--pico-primary);
  border-radius: var(--pico-border-radius);
  margin-left: var(--pico-spacing);
  font-style: italic;

  &.draft {
    color: var(--pico-primary);
  }
}



/* Home page */
.intro {
  padding: var(--pico-block-spacing-vertical) 0;
  
  p {
    color: var(--pico-h2-color);
    
    &:last-child {
      margin-bottom: 0;
    }
  }
} 