/* Copied from theme-toggle.scss, now renamed to underscore partial */
/**
  Theme-toggle button
*/

#theme-toggle {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 10px 10px;
    color: var(--pico-primary);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    line-height: 0; /* remove inline gap */
    right: 0;
    top: 50%;
  }
  #theme-toggle:hover {
    color: var(--primary-hover);
  }
  
  #theme-toggle svg {
    width: 20px;
    height: 20px;
  }
  
  /* Theme toggle icons */
  .light-icon { display: none; }
  .dark-icon { display: none; }
  .system-icon { display: none; }
  
  [data-theme="light"] .light-icon { display: block; }
  [data-theme="dark"] .dark-icon { display: block; }
  html[data-theme="light"] .system-icon { display: none; }
  html[data-theme="dark"] .system-icon { display: none; }
  html:not([data-theme]) .system-icon { display: block; }

// header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// } 