---
layout: base
---

<article>
  <nav>
    <a id="back-button" href="/blog" class="secondary">&larr; Back</a>
  </nav>

  {% if draft %}
  <header class="alert alert-warning">
    <strong>⚠️ DRAFT</strong> - This post will not be published in production
  </header>
  {% endif %}

  <header>
    <h1>{{ title }}</h1>
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %e, %Y" }}</time>
  </header>

  <div>
    {{ content }}
  </div>

  <footer>
    <hr />
    <!-- <div class="grid">
      <div class="col">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
        <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
        <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
      </div>
    </div> -->
  </footer>
</article>
