// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.aboutme {
	line-height: 1.2em;
	color: #999;
	margin-top: 10px;
}

.aligncenter {
	text-align: center;
	img {
		margin-top: 20px;
	}
}

article .entry-content .caption::before {
	position: relative;
	margin-right: 10px;
}